<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>浪愛延續</title>
    <link rel="stylesheet" href="flexbox.css">
    <link rel="shortcut icon" href="logo.png" type="image/x-icon">
    <link rel="stylesheet" href="css/all.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">首頁</a></li>
                <li><a href="#">關於我</a></li>
                <li><a href="#">亞東科大</a></li>
                <li><a href="#">連絡我們</a></li>
            </ul>
        </nav>
        <div class="banner">
            <img src="logo.png" width="100px" height="100px" alt="logo">
            <div class="title">
                <h1>浪愛延續</h1>
                <h2>Love animals, cherish life.</h2>
            </div>
            <div></div>
        </div>

    </header>
    <section id="starlist">
        <ul>
            <li><img src=" img/cat1.jpg" alt="動物之星" width="200px" height="300px">
            </li>
            <li><img src="img/cat2.jpg" alt="動物之星" width="200px" height="300px"></li>
            <li><img src="img/cat3.jpg" alt="動物之星" width="200px" height="300px"></li>
            <li><img src="img/cat4.jpg" alt="動物之星" width="200px" height="300px"></li>
            <li><img src="img/cat5.jpg" alt="動物之星" width="200px" height="300px"></li>
            <li><img src="img/cat6.jpg" alt="動物之星" width="200px" height="300px"></li>
            <li><img src="img/cat7.jpg" alt="動物之星" width="200px" height="300px"></li>
            <li><img src="img/cat8.jpg" alt="動物之星" width="200px" height="300px"></li>
            <li><img src="img/cat9.jpg" alt="動物之星" width="200px" height="300px"></li>
            <li><img src="img/cat1.jpg" alt="動物之星" width="200px" height="300px"></li>
            <li><img src="img/cat2.jpg" alt="動物之星" width="200px" height="300px"></li>
            <li><img src="img/cat3.jpg" alt="動物之星" width="200px" height="300px"></li>
            <li><img src="img/cat4.jpg" alt="動物之星" width="200px" height="300px"></li>
            <li><img src="img/cat4.jpg" alt="動物之星" width="200px" height="300px"></li>
            <li><img src="img/cat5.jpg" alt="動物之星" width="200px" height="300px"></li>
            <li><img src="img/cat6.jpg" alt="動物之星" width="200px" height="300px"></li>
            <li><img src="img/cat7.jpg" alt="動物之星" width="200px" height="300px"></li>
            <li><img src="img/cat8.jpg" alt="動物之星" width="200px" height="300px"></li>
            <li><img src="img/cat9.jpg" alt="動物之星" width="200px" height="300px"></li>
            <li class="emptyitem"></li>
            <li class="emptyitem"></li>
            <li class="emptyitem"></li>
            <li class="emptyitem"></li>
            <li class="emptyitem"></li>
        </ul>
    </section>
    <a href="#starlist"><i class="fa-solid fa-circle-chevron-up go-top"></i></a>
</body>

</html>